.callback__container {
  background-color: $color-deep-sky-blue;
  width: 500px;
  padding-top: 36px;
  padding-bottom: 42px;
}

.callback__wrapper {
  align-items: flex-start;
  padding-top: 146px;
  padding-left: 25px;
}

.callback__button {
  top: 17px;
  right: 16px;
}

.callback__title {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 5px;
}

.callback__description {
  margin-left: 0;
  margin-bottom: 34px;
}

.callback__inputs-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.callback__inputs-wrapper label {
  width: 100%;
  margin-bottom: 20px;
}

.callback__input--quest {
  margin-bottom: 17px;
}

.callback__inputs-wrapper input {
  padding-bottom: 17px;
}

.callback__input--quest input {
  height: 155px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.callback__submit {
  width: 100%;
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 22px;
}

.callback__checkbox-container {
  width: 100%;
  margin-left: 7px;
}

.callback__checkbox-container input {
  left: 1px;
  top: 0;
}

.callback__checkbox-container label::before {
  left: 1px;
  top: 0;
}

.callback__checkbox-container input:checked + label::after {
  left: 4px;
  top: 5px;
}
