.feedback {
  width: 100%;
  overflow-x: hidden;
  font-family: "PT Mono", "Courier New", monospace;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/svg/bg-form.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-default-white;

  @include vp-1023 {
    background-image: none;
  }
}

.feedback__container {
  position: relative;
  padding: 165px 0 250px 0;

  @include vp-1439 {
    padding: 165px 32px 250px;
  }

  @include vp-1023 {
    padding: 45px 50px 124px;
    padding-top: 45px;
    padding-bottom: 124px;
    background-image: none;
  }

  @include vp-767 {
    padding: 48px 25px 89px;
  }
}

.feedback__bg {
  position: absolute;
  width: 510px;
  height: 285px;
  top: 246px;
  left: 0;

  @include vp-1023 {
    display: none;
  }
}

.feedback form {
  padding-right: 10px;
  width: 48.7%;
  margin-left: auto;

  @include vp-1023 {
    width: 100%;
    padding-right: 0;
  }
}

.feedback__inputs-wrapper {
  margin-left: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;

  @include vp-1023 {
    margin-left: 0;
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.feedback__inputs-wrapper label {
  width: 47.5%;
  margin-bottom: 20px;

  @include vp-767 {
    width: 100%;
  }
}
