.location {
  position: relative;
  max-width: 345px;
  width: auto;
  min-width: 275px;

  @include vp-1023 {
    width: 325px;
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.location--close .location__button {
  background-image: url("'../../img/svg/accordion-open.svg");
}

.location--open .location__button {
  background-image: url("../../img/svg/accordion-close.svg");
}

.location--no-js .location__button {
  display: none;
}

.location--open .location__title {
  @include vp-767 {
    margin-bottom: 15px;
  }
}

.location--no-js .location__title {
  @include vp-767 {
    margin-bottom: 15px;
  }
}

.location--close .location__title {
  @include vp-767 {
    margin-bottom: 0;
  }
}

.location--close .location__list {
  @include vp-767 {
    display: none;
  }
}

.location--open .location__list,
.location--no-js .location__list {
  @include vp-767 {
    display: grid;
  }
}

.location__text--address {
  @include vp-767 {
    margin-top: 2px;
    margin-bottom: 8px;
  }
}

.location__list {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 8px;

  @include vp-767 {
    grid-gap: 10px;
  }
}

.location__item {
  display: flex;
  max-width: 345px;
  width: auto;
  min-width: 275px;

  @include vp-1023 {
    max-width: none;
    min-width: auto;
    width: 325px;
  }

  @include vp-767 {
    display: flex;
    width: 270px;
  }
}

.location__link {
  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}
