.logotype {
  transition: $trans-default;
  display: flex;
  width: 215px;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  color: $color-alice-blue;
  text-decoration: none;

  @include vp-767 {
    margin-top: 5px;
    width: 35px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.logotype--footer {
  @include vp-767 {
    margin-top: 0;
    width: 215px;
    margin-right: 7px;
  }
}
