.main-header {
  position: absolute;
  z-index: 2;
  font-family: "PT Mono", "Courier New", monospace;
  top: 0;
  min-width: 320px;
  width: 100%;
  background: $black-pearl-to-transparent;
}

.main-header__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    align-items: flex-start;
  }
}

.main-header__item {
  display: block;
}

.main-header__item--contacts {
  display: grid;
  grid-template-columns: repeat(2, 225px);
  grid-column-gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 40px);
    grid-column-gap: 20px;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 9px;
  }
}

.main-header__link {
  transition: $trans-default;
  width: 225px;
  margin-bottom: 5px;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
  display: flex;
  align-items: center;

  @include vp-1023 {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
  }

  @include vp-767 {
    margin-bottom: 0;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.main-header__text {
  max-width: 180px;

  @include vp-1023 {
    display: none;
  }
}

.main-header__icon {
  margin-right: 15px;

  @include vp-1023 {
    margin: 0;
  }
}

.main-header__button {
  display: block;
  width: 160px;
  color: $color-alice-blue;
  padding: 10px 0 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-header__item--button {
  @include vp-1023 {
    display: none;
  }
}
